<footer class="site-footer">
	
<div class="site-footer-legal">© 2018 <a href="#">Prazar</a></div>
      
</footer>


<!-- Core  -->
    <script src="./Admin_assets/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="./Admin_assets/global/vendor/jquery/jquery.js"></script>
    <script src="./Admin_assets/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="./Admin_assets/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="./Admin_assets/global/vendor/animsition/animsition.js"></script>
    <script src="./Admin_assets/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="./Admin_assets/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="./Admin_assets/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="./Admin_assets/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <script src="./Admin_assets/assets/js/bootstrap-datepicker.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!-- ADMIN JS SCRIPT-->
    <script src="./Admin_assets/assets/js/Admin.js"></script>

    <!-- Plugins -->
    <script src="./Admin_assets/global/vendor/switchery/switchery.js"></script>
    <script src="./Admin_assets/global/vendor/intro-js/intro.js"></script>
    <script src="./Admin_assets/global/vendor/screenfull/screenfull.js"></script>
    <script src="./Admin_assets/global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net/jquery.dataTables.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net/jquery.dataTables.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-rowgroup/dataTables.rowGroup.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-scroller/dataTables.scroller.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script src="./Admin_assets/global/vendor/datatables.net-buttons/dataTables.buttons.js"></script> 
    <script src="./Admin_assets/global/vendor/select2/select2.full.min.js"></script> 
    <script src="./Admin_assets/global/vendor/multi-select/jquery.multi-select.js"></script> 

     <script src="./Admin_assets/global/vendor/bootstrap-sweetalert/sweetalert.js"></script>  
     <script src="./Admin_assets/global/vendor/summernote/summernote.min.js"></script>  
     <script src="./Admin_assets/global/vendor/raty/jquery.raty.js"></script>  
             
         
    <!-- Scripts -->
    <script src="./Admin_assets/global/js/Component.js"></script>
    <script src="./Admin_assets/global/js/Plugin.js"></script>
    <script src="./Admin_assets/global/js/Base.js"></script>
    <script src="./Admin_assets/global/js/Config.js"></script>
    
    
    <script src="./Admin_assets/assets/js/Section/Menubar.js"></script>
    <script src="./Admin_assets/assets/js/Section/GridMenu.js"></script>
    <script src="./Admin_assets/assets/js/Section/Sidebar.js"></script>
    <script src="./Admin_assets/assets/js/Section/PageAside.js"></script>
    <script src="./Admin_assets/assets/js/Plugin/menu.js"></script>
    
    <script src="./Admin_assets/global/js/config/colors.js"></script>
    <script src="./Admin_assets/assets/js/config/tour.js"></script>
    <script>Config.set('assets', '/assets/Admin_assets/assets');</script>
    
    <!-- Page -->
    <script src="./Admin_assets/assets/js/Site.js"></script>
    <script src="./Admin_assets/global/js/Plugin/asscrollable.js"></script>
    <script src="./Admin_assets/global/js/Plugin/slidepanel.js"></script>
    <script src="./Admin_assets/global/js/Plugin/switchery.js"></script> 
    <script src="./Admin_assets/global/js/Plugin/jquery-placeholder.js"></script>  
    <script src="./Admin_assets/global/js/Plugin/material.js"></script>
        <!--script src="./Admin_assets/global/js/Plugin/gmaps.js"></script-->
        <script src="./Admin_assets/global/js/Plugin/matchheight.js"></script>
        <script src="./Admin_assets/global/js/Plugin/asscrollable.js"></script>
    
        <script src="./Admin_assets/global/vendor/chartist/chartist.min.js"></script>
        <!--script src="./Admin_assets/assets/examples/js/dashboard/v2.js"></script-->
        <!--script src="./Admin_assets/global/vendor/gmaps/gmaps.js"></script-->
        <script src="./Admin_assets/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
        <script src="./Admin_assets/global/js/Plugin/datatables.js"></script> 

        <script src="./Admin_assets/global/js/Plugin/bootstrap-sweetalert.js"></script>  
        <script src="./Admin_assets/assets/examples/js/tables/datatable.js"></script>
        
        <script src="./Admin_assets/global/js/Plugin/select2.js"></script>
        
        <script src="./Admin_assets/global/js/Plugin/summernote.js"></script>
        <script src="./Admin_assets/global/js/Plugin/raty.js"></script>
        <!--script src="./Admin_assets/assets/examples/js/forms/editor-summernote.js') ; ?>"></script-->
       
	   {% if data.req_path == '/dashboard' %}
	   
	   <script src="Admin_assets/assets/js/charts.js"></script>
	   
	   {%endif%}
	   
       {% if data.userdata %}
        <script src="/socket.io/socket.io.js"></script>
        <script src="Admin_assets/assets/js/chat.js"></script>
       {% endif %}

    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);

      $('#start_date_div input').datepicker({
     });
       $('#end_date_div input').datepicker({
     });
    </script>