{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

<!-- Page -->
<div class="page">
      <div class="page-header">
        <h1 class="page-title">Order History</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/prazar_admin/dashboard">Dashboard</a></li>          
          <li class="breadcrumb-item active">Order History</li>
        </ol>        
      </div>
         <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
          <header class="panel-heading">
            <div class="panel-actions"></div>
            <h3 class="panel-title"></h3>
          </header>
          <div class="panel-body">
         <!--   <div class="row">   
				<form method="get" class="customer_date_filter_form">
                <div class="col-md-8" style="margin-bottom: 30px;">
                    <div class="col-md-4" id="start_date_div">
                
                      <input type="text" class="form-control" name="start_date" value="{{data.start_date}}" placeholder="Start Date">
                    </div>
                    <div class="col-md-4" id="end_date_div">
                      
                      <input type="text" class="form-control" value="{{data.end_date}}" name="end_date" placeholder="End Date">
                    </div>
                    <div class="col-md-4" id="search_btn_div">
                      <input type="submit" class="form-control btn-primary" value="Search">
                  </div>
					
               </div>
               </form>

               <div class="col-lg-4">
                 <select class="form-control" id="customer_show_by">
          
              <option value="0">Showed by customer</option>
              <option value="1">Over the last month</option>
              <option value="2">Last 6 months</option>
              <option value="3">Last year</option>
             </select>   
					
                </div> 
				 
            </div> -->
      <br>
      <br>
          

            <table class="table table-hover table-striped w-full table-bordered table-responsive">
              <thead>
                 <tr>
                  <th>S.No.</th>
                  <th>Customer Name</th>                 
                  <th>Product Name</th>
                  <th>Store Name</th>                 
                  <th>Product Image</th>               
                  <th>Amount</th>
                  <th>Quantity</th>
                  <th>Total Amount</th>
                  <th>Order No.</th>
                  <th>Order Date</th>
                  <th>Status</th>
                  
                </tr>
              </thead>
           
              <tbody>
				  
                   {% if data.orders.length ==0 %}
				     <td colspan="10">data not found</td>
				   {% endif %}
				  
				  {% for order in data.orders %}
                  <tr>
                  <td>{{loop.index+(data.page*data.limit)}}</td>
                  <td>{{order.ordered_by}}</td>
                  <td>{{order.product_name}}</td>
                  <td>{{order.store_name}}</td>
                  <td><img  src="/products/{{order.images.image_url}}" width="65" height="40px !important" class="img-thumbnail" onerror="arguments[0].currentTarget.style.display='none'"/></td>
                  <td>${{order.unit_price.toFixed(2)}}</td>
                  <td>{{order.quantity}}</td>
                  <td>${{order.item_total_price.toFixed(2)}}</td>
                  <td>{{order.order_no}}</td>
                  <td>{{order.order_date}}</td>
                  <td>
					  {% if order.order_status==3 %}
                       <span class='badge badge-success'>Delivered</span>
					  {% elseif order.order_status == 4 %}
					   <span class="badge badge-danger" >Refund</span>
					   {%else%}
					   <span class="badge badge-info" >Pending</span>
					  {% endif %}
                  </td>
                 
                   
                </tr>
				  
				  
              {% endfor %}
                
              </tbody>
            </table>
			  
			  <!-- pagination -->
                {% set productCount = data.total_pages %}
                {% set productCountAsArray = Array(productCount) %}

              <div class="row paginat_row"> 
                <div class="col-lg-10">
				 {{data.show_str}}
				  </div>
				  <div class="col-lg-2 pull-right" id="pagination"> 
                 <ul class="tsc_pagination ">
                 <nav>
					 <ul class="pagination" style="margin-top:0px">
					{% for x, y in productCountAsArray %}	 
					 <li {% if data.page == x %} class="active" {% endif %}><a href="/prazar_admin/order_history?page={{x}}" >{{loop.index}}</a></li>
					{% endfor %}	 
					 </ul>
					 </nav>
               </ul>
                </div>
              
               
              </div>
          </div>
        </div>
        <!-- End Panel Basic -->
      </div>
      </div>
   

   <!-- filter model -->
 <div class="modal fade modal-3d-slit" id="customer_filter_model" aria-hidden="true"
                    aria-labelledby="exampleModalTitle" role="dialog" >
					  
                      <div class="modal-dialog modal-simple">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Edit Account</h4>
                          </div>
                          <div class="modal-body">
						                                                                                      
                          </div>
                          <div class="modal-footer">
                            <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                            
                          </div>
                        </div>
                         
                      </div>
						 
                  </div>

<!-- End Page -->
  
{% endblock %}