{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="page">
      <div class="page-header">
        <h1 class="page-title">Change Password</h1>
        <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/prazar_admin/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Change Password</li>
        </ol>        
      </div>

      <div class="page-content col-lg-8">
        <div class="panel">
          <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-lg-12">
                <!-- Example Basic Form (Form row) -->
                <div class="example-wrap">
				  {%  if data.error.length > 0 %}
					<div class="alert alert-danger  alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
					{{data.error}}
					</div>
				 {% endif %}
					
				 {%  if data.success.length > 0 %}
			      <div class="alert alert-success  alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
					{{data.success}}
					</div>
			     {% endif %}	
					
					
                  <h4 class="example-title">Change Password</h4>
                
                  <div class="example"> 
                  <form method="post" action="/prazar_admin/update_password" >
                      <div class="form-group">
                        <label class="form-control-label" for="old_password">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="*********" autocomplete="off" required >
                      </div>

                      <div class="form-group">
                        <label class="form-control-label" for="admin_password">New Password</label>
                        <input type="password" class="form-control"  id="admin_password" name="new_password" placeholder="*********" autocomplete="off" maxlength="20" required>
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="admin_cpassword">Confirm Password</label>
                        <input type="password" class="form-control"  id="admin_cpassword" name="confirm_password" placeholder="*********" required  autocomplete="off">
                      </div>                                 
                      
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- End Example Basic Form (Form row) -->
              </div>              
            </div>
          </div>
        </div>


      </div>
  </div>


{% endblock %}