
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
  <!--//==Page Header Start==//-->
        <div class="wv_breadcrumb">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                               
                                <li class="active">About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//==Contact Page Start==//-->
        <section class="contact-page">
            <div class="container">
                <div class="row pad-s15">
                    <div class="about_wrapper">
                        <div class="col-sm-6 col-md-6 aboutfirst-left">
                            <h1>About Us </h1>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>

                            <p class="second-para">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid ex ea commodi consequatur</p>
                        </div>
					    <div class="col-sm-6 col-md-6 aboutfirst-right">
							<img src="./front_assets/img/about-us.png" alt="">
						</div>

					</div>
                </div>
            </div>
        </section>
        <!--//==Contact Page End==//-->
         

 <!--//======= Service Start =======//--> 
        <section class="Service join_newsletter_color">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 prazar_subcribe_box text_center">
                        <h2 class="prezer_heading marB10">Join the Prazar community</h2>
                        <p>Jot down your email address and we promise to delight you with VIP offers, styling tips, gift buying guides and a plenty more.</p>
						
                        <div class="prazar-subscribe-inner-box">
							<form id="subscribe_form">
                             <input type="email" class="transparent-field" placeholder="email address" name="subscribe_email" required>
                             <input type="submit" class="submit-btn" value="Subscribe">
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//======= Service End =======//--> 


{% endblock %}    