
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

     <div class="slider-wrap">
            <ul class="bxslider">
              <li>
                <img src="./front_assets/img/slider/banner.png" />
                <div class="slider_inner_div">
                    <div class="slider_inner_div1">
                        <h1>Find the most bizarre items out there.</h1>
                        <a class="slider_anchor" href="shop-left-sidebar.html">Shop now &nbsp;<i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
              </li>
              <li><img src="./front_assets/img/slider/banner.png" />
              <div class="slider_inner_div">
                    <div class="slider_inner_div1">
                        <h1>Find the most bizarre items out there.</h1>
                        <a class="slider_anchor" href="shop-left-sidebar.html">Shop now &nbsp;<i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
              </li>
              <li><img src="./front_assets/img/slider/banner.png" />
              <div class="slider_inner_div">
                    <div class="slider_inner_div1">
                        <h1>Find the most bizarre items out there.</h1>
                        <a class="slider_anchor" href="shop-left-sidebar.html">Shop now &nbsp;<i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </li>
            </ul>

        </div>
        <!-- END HOME SLIDER -->
        <!--//======= Banner_add Start =======//--> 
        <section class="banner-add">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 add-banner add-banner-left">
                        <div class="banner-left">
                            <img src="./front_assets/img/all/banner_left.jpg" alt=""/>
                        </div>
                        <div class="prazar-banner-title">
                            <p>Shop Designer &nbsp;<i class="fa fa-caret-right"></i></p>
                        </div>
                    </div>
                    <div class="col-md-6 add-banner add-banner-right">
                        <div class="banner-right">
                            <img src="./front_assets/img/all/banner_right.jpg" alt=""/>
                        </div>
                        <div class="prazar-banner-title">
                            <p>Shop Latest Styles &nbsp;<i class="fa fa-caret-right"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//======= Banner_add Start End =======//--> 
        <div class="clearfix"></div>
        <div class="container popular_right_now_div marT50">
                   <div class="col-md-12">
                       <h2 class="prezer_heading marB30">Popular right now</h2>
                   </div> 
                    <div class="col-md-12 col-sm-12 marB30 wvshop_right">
                        <div class="row">
                            <!--//==Product Item Start==//-->
                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p1.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Lorem Crochet Ipsum</h4>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text_left">
                                            <span class="price-text-color ">By seller name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 review_right">
                                            <ul class="wv_rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><span class="review">(1)</span></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="price col-md-12">
                                            <span class="sell-price">AU $00.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p2.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Lorem Crochet Ipsum</h4>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text_left">
                                            <span class="price-text-color ">By seller name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 review_right">
                                            <ul class="wv_rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><span class="review">(1)</span></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="price col-md-12">
                                            <span class="sell-price">AU $00.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p3.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Lorem Crochet Ipsum</h4>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text_left">
                                            <span class="price-text-color ">By seller name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 review_right">
                                            <ul class="wv_rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><span class="review">(1)</span></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="price col-md-12">
                                            <span class="sell-price">AU $00.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p4.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Lorem Crochet Ipsum</h4>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text_left">
                                            <span class="price-text-color ">By seller name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 review_right">
                                            <ul class="wv_rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><span class="review">(1)</span></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="price col-md-12">
                                            <span class="sell-price">AU $00.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p5.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Lorem Crochet Ipsum</h4>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text_left">
                                            <span class="price-text-color ">By seller name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 review_right">
                                            <ul class="wv_rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><span class="review">(1)</span></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="price col-md-12">
                                            <span class="sell-price">AU $00.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p6.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Lorem Crochet Ipsum</h4>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text_left">
                                            <span class="price-text-color ">By seller name</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 review_right">
                                            <ul class="wv_rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><span class="review">(1)</span></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="price col-md-12">
                                            <span class="sell-price">AU $00.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>


                        </div>
                    </div>
        </div>
        <!--//======= Men Section Start=======//-->
        <div class="clearfix"></div>
        <div class="container shop_categories_div marT10"> 
                   <div class="col-md-12">
                       <h2 class="prezer_heading marB30">Shop Categories</h2>
                   </div> 
                    <div class="col-md-12 col-sm-12 marB30 wvshop_right">
                        <div class="row">
                            <!--//==Product Item Start==//-->
                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p1.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Home & Garden</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p2.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Clothing</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p3.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Food & Drinks</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p4.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Jewellery</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p5.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Arts & Prints</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-md-2 col-sm-6 marB30">
                                <div class="wa-theme-design-block">
                                    <figure class="dark-theme">
                                        <img src="./front_assets/img/product/p6.jpg" alt="Women Thumbnail">
                                        <span class="block-sticker-tag1">
                                        <span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
                                        </span> 
                                        <span class="block-sticker-tag2">                                      
                                        <span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
                                        </span>
                                        <span class="block-sticker-tag3">
                                        <span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
                                        </span>
                                    </figure>
                                    <div class="block-caption1">
                                        <h4>Personalised Gifts</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>


                        </div>
                    </div>
        </div>
        <!--//==Men Section Start==//-->

<div class="why-us-div">
                <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 prazar_subcribe_box text_center">
                        <h2 class="prezer_heading marB10">Bringing together the best<br>of Australian brands</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-4 prazar_feature_div">
                        <img src="./front_assets/img/all/sell_icon.png">
                        <h2 class="prezer_heading marB10">Sell with us</h2>
                        <p>Thousands of shoppers can't wait to see what you have in store.</p>
                        <a href="login.html"><button class="prazar_btn">Start Selling &nbsp;&nbsp;<i class="fa fa-caret-right"></i></button></a>
                    </div>
                    <div class="col-md-4 prazar_feature_div">
                        <img src="./front_assets/img/all/buy_icon.png">
                        <h2 class="prezer_heading marB10">Buy with us</h2>
                        <p>We use best-in-class technology to protect your transactions.</p>
                        <button class="prazar_btn">Find out more &nbsp;&nbsp;<i class="fa fa-caret-right"></i></button>
                    </div>
                    <div class="col-md-4 prazar_feature_div">
                        <img src="./front_assets/img/all/help_icon.png">
                        <h2 class="prezer_heading marB10">Need help?</h2>
                        <p>Whatever it is, we are always happy to help.</p>
                        <a href="contact.html"><button class="prazar_btn">Contact us &nbsp;&nbsp;<i class="fa fa-caret-right"></i></button></a>
                    </div>
                </div>
            </div>    
</div>  		
        <!--//======= Service Start =======//--> 
        <section class="Service">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 prazar_subcribe_box text_center">
                        <h2 class="prezer_heading marB10">Join the Prazar community</h2>
                        <p>Get fresh prazar trends and unique gift ideas delivered right to your inbox</p>
                        <div class="prazar-subscribe-inner-box">
                            <input type="email" class="transparent-field" placeholder="email address">
                            <input type="submit" class="submit-btn" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="instagram_div">
            <div class="inner-insta-div">
                <img src="./front_assets/img/product/p1.jpg">
            </div>
           <div class="inner-insta-div">
                <img src="./front_assets/img/product/p2.jpg">
            </div>
            <div class="inner-insta-div">
                <img src="./front_assets/img/product/p3.jpg">
            </div>
            <div class="inner-insta-div">
                <img src="./front_assets/img/product/p4.jpg">
            </div>
            <div class="inner-insta-div">
                <img src="./front_assets/img/product/p5.jpg">
            </div>
        </div>
        <!--//======= Service End =======//--> 
       
{% endblock %}    