

<!-- login model start here-->
		
		 <div id="checkout_login_model" class="overlay">
			<div class="popup col-md-6 col-md-offset-3">
				<h2>Login</h2>
				<a class="close" href="#">&times;</a>
				<form class="contact-form address-popup" method="post" id="checkout_login_form">
					
					<div class="row">
					
						<div class="col-md-12 form-group">
						<input class="wv_form_focus" type="email" name="email_id" required placeholder="Email">
						
							
						</div>
						
						<div class="col-md-12 form-group" style="margin-bottom:0px">
							<input class="wv_form_focus" type="password" name="pass" required placeholder="Password">
						</div>
						<div class="col-md-12">
                            
                            <div class="right_section"><a href="/forgot_password">forgot username/password</a></div>
                        </div>
					
					</div>
					
					<div class="mydetail_cancel">
						<a class="" href="#">Cancel</a>
						
					</div>
					
					<div class="mydetail_btn">
						<input type="submit" class="submit-btn" name="sub" value="Login"/>
					</div>
					<div class="register_div" style="margin-top:10px;"><a href="#checkout_register_model">create account</a></div>
				</form>
				
			</div>
		</div>
		
		<!-- login model end here-->
		
		<!-- regiter model start here -->
		
		 <div id="checkout_register_model" class="overlay">
			<div class="popup col-md-6 col-md-offset-3">
				<h2>SIGN UP</h2>
				<a class="close" href="#">&times;</a>
				<form class="contact-form address-popup" method="post" id="checkout_register_form">
					
					<div class="row">
					
					  <div class="col-md-12 form-group">
						<input class="wv_form_focus" type="text" name="uname" required placeholder="First Name">
							
						</div>
					  <div class="col-md-12 form-group">
						<input class="wv_form_focus" type="text" name="last_name" required placeholder="Last Name">
							
						</div>
					
						<div class="col-md-12 form-group">
						<input class="wv_form_focus email_address" type="email" name="email_id" required placeholder="Email">
							
						</div>
						
						<div class="col-md-12 form-group">
						<input class="wv_form_focus cemail_address" type="email" name="confirme_mail" required placeholder="Confirm Email">
							
						</div>
						
						
						<div class="col-md-12 form-group">
							<input class="wv_form_focus newpassword" type="password" name="pass" required placeholder="Password">
						</div>
						
					    <div class="col-md-12 form-group">
							<input class="wv_form_focus cpassword" type="password" name="cpass" required placeholder="Confirm Password">
						</div>
					<div class="wv_widget wv_checkout_check">
								<input type="checkbox" class="grey" name="newsletter" id="grey" checked="checked">
								<label for="grey">Signup to newsletter</label>
							</div>
					
					</div>
					
					<div class="mydetail_cancel">
						<a class="" href="#">Cancel</a>
						
					</div>
					
					<div class="mydetail_btn">
						<input type="submit" class="submit-btn" name="sub" value="Sign Up"/>
					</div>
					<div class="register_div" style="margin-top:10px;"><a href="#checkout_login_model">Login</a></div>
				</form>
				
			</div>
		</div>
		
		<!-- regiter model end here -->

 <!--//=======Footer Start=======//--> 
 <footer id="main-footer"  class="dark-footer">
            <!--Upper Footer Block-->
            <div class="upper-footer wv_footer">
                <div class="container">
                    <div class="row pad-s15">
                        <!--Widget Block-->
                        <div class="wv_footer_width col-sm-6">
                            <div class="widget contact-widget">
                                <h3>Shopping with us</h3>
                                <ul>
                                    <li><a href="/why_shop_with_us">Why shop with us?</a></li>
                                    <li><a href="/how_it_works">How it works</a></li>
                                    <li><a href="/delivery">Delivery</a></li>
                                    <li><a href="/returns">Returns</a></li>
                                    <li><a href="/wheres_my_order">Where’s my order</a></li>
									<li><a href="/faq">FAQs</a></li>
                                    <!--<li><a href="/gift_vouchers">Gift vouchers</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <!--Widget Block-->
                        <div class="wv_footer_width col-sm-6">
                            <div class="widget">
                                <h3>selling with us</h3>
                                <ul>
                                    <li><a href="/why_join">Why join?</a></li>
                                    <!--<li><a href="/faq">FAQs</a></li>-->
                                    <li><a href="/sell_with_us">Apply to sell with us</a></li>
                                   <!-- <li><a href="/affiliates">Affiliates</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <!--Widget Block-->
                        <div class="wv_footer_width col-sm-6">
                            <div class="widget">
                                <h3>About us</h3>
                                <ul>
                                    <li><a href="/our_story">Our story</a></li>
                                   <!-- <li><a href="/customer_contact">Customer contact</a></li>-->
                                    <!-- <li><a href="#">Awards</a></li> -->
                                   <!-- <li><a href="#">Press centre</a></li> -->
                                    <li><a href="/work_with_us">Work with us</a></li>
                                   <!-- <li><a href="#">Partnerships</a></li> -->
                                    <li><a href="/terms_conditions">Terms and Conditions</a></li>
                                    <li><a href="/privacy_policy">Privacy policy</a></li>
									
									 <li><a href="/contact_us">Contact & Help</a></li>
                                   <!-- <li><a href="#">Modern slavery act</a></li> -->
                                   <!-- <li><a href="#">Sponsored product listing</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <!--Widget Block-->
                      
                        <div class="wv_footer_width wv_social">
                            <h3 class="widget1">Follow us</h3>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/prazarau/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/prazar_official/" target="_blank"><i class="fa fa-instagram" ></i></a></li>
                                <li><a href="https://www.pinterest.ph/prazar2018/"  target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Copyright Footer Block-->
            <div class="bottom-footer">
                <div class="container-fluid">
                    <div class="row pad-s15">
                        <div class="col-md-4 payment-method">
                            <ul class="col-md-12 wv_pay">
                                <li><a href=""></a><img src="./front_assets/img/icons/pay4.png" alt=""></li>
                                <li><a href=""></a><img src="./front_assets/img/icons/pay2.png" alt=""></li>
                                <li><a href=""></a><img src="./front_assets/img/icons/pay3.png" alt=""></li>
                                <li><a href=""></a><img src="./front_assets/img/icons/pay1.png" alt=""></li>
                               
                            </ul>
                        </div>
                         <div class="col-md-4 text-center menu_lower-footer">
                            <ul class="col-md-12 ftr_menu">
                                <li><a href="/terms_conditions">Terms and Conditions</a></li>
                                <li><a href="/privacy_policy">Privacy Policy</a></li>
                                <li><a href="/contact_us">Sitemap</a></li>
                            </ul>
                         </div>
                        <div class="col-md-4 copy-right text-right">
                            <p>Copyright 2018 Prazar. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--//=======Footer End=======//--> 
     
	 
  
  
        <div class="modal_backdrop"></div>
        <!-- Switcher Section Start -->
      
        <!-- / Switcher Section End -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="./front_assets/js/jquery.min.js"></script>
        <script src="./front_assets/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
	 
        <!--<script type="text/javascript" src="./front_assets/plugins/menu/js/hover-dropdown-menu.js"></script> 
        <script type="text/javascript" src="./front_assets/plugins/menu/js/jquery.hover-dropdown-menu-addon.js"></script>	-->
        <script src="./front_assets/plugins/owl-carousel/js/owl.carousel.js"></script>	
        <script type="text/javascript" src="./front_assets/plugins/counter/js/jquery.countTo.js"></script> 
        <script type="text/javascript" src="./front_assets/plugins/counter/js/jquery.appear.js"></script>  	
        <script src="./front_assets/plugins/mixitup/js/jquery.mixitup.js"></script>	  
        <script src="./front_assets/plugins/fancymedia/js/jquery.fancybox.pack.js"></script>
        <script src="./front_assets/plugins/fancymedia/js/jquery.fancybox-media.js"></script> 
        <script type="text/javascript" src="./front_assets/plugins/revslider/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="./front_assets/plugins/revslider/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="./front_assets/js/switcher.js"></script> 
       
          <!-- for lat lng from address -->
        <!--<script src="https://maps.google.com/maps/api/js?key=AIzaSyCxe-cRLnjYtPINVjsbssV-MHb4BXdtZEE&sensor=false&libraries=places"></script> -->

      <script type="text/javascript" src="./Admin_assets/global/vendor/bootstrap-sweetalert/sweetalert.js"></script> 
      

        <script type="text/javascript" src="./Admin_assets/global/vendor/summernote/summernote.min.js"></script> 
        <script type="text/javascript" src="./front_assets/js/easyzoom.js"></script>
        <script type="text/javascript" src="./front_assets/js/bootstrap-colorpicker.min.js"></script>

       
       <script type="text/javascript" src="./front_assets/js/html2pdf.bundle.min.js"></script>
      <!--  <script type="text/javascript" src="./front_assets/js/jspdf.debug.js"></script>-->

	  
	  
        <!--<script type="text/javascript" src="./front_assets/js/jspdf.min.js"></script>
        <script type="text/javascript" src="./front_assets/js/html2canvas.js"></script>
        <script type="text/javascript" src="./front_assets/js/html2pdf.js"></script> -->
		<script type="text/javascript" src="./front_assets/js/jquery.elevatezoom.js"></script>
		<script type="text/javascript" src="./front_assets/js/jssocials.js"></script>
		
		
	
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
	     <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
		
		<!-- cropper js -->
		<script src='./front_assets/js/cropper.js'></script>
		
		
		
		<script type="text/javascript" src="./front_assets/js/main.js"></script>
		
	
       {% if data.userdata %}
        <script src="/socket.io/socket.io.js"></script> 
        <script type="text/javascript" src="./front_assets/js/chat.js"></script> 
        {% endif %}	
		
        <script type="text/javascript" src="./front_assets/js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="./front_assets/js/toastr.min.js"></script>
		
		
		{% if data.register_success.length > 0 %}
		  <script>
		     
			   //toastr.success('Your Account is created successfully');
			   swal("Saved","Your account has been successfully created", "success");
			   
		  </script>
		{%endif%}
      
		<script>
		$(document).ready(function(){
            $('body').on('click', '.navbar-header .navbar-toggle', function(){
                $('.wv-main-menu').addClass('menu_sidebar_open');
            });
            $('body').on('click', '.Mobile_navbarClose', function(){
                $('.wv-main-menu').removeClass('menu_sidebar_open');
                $('.navbar-collapse.navbar_main').removeClass('in');
            });
			$(".mega_mobileOpen").click(function(){
				$(this).parent().next().toggle();
			});
        });
	  var call_ajax_search = 1;
	  var page = 0;
	  
	  var call_ajax_sale = 1;
	  var page_sale = 0;
	  
	  var call_ajax_vendors = 1;
	  var page_vendors = 0;
	  
	  var call_ajax_new_arrivals = 1;
	  var page_new_arrivals = 0;
	  
        $(document).ready(function() {
            $('body').on('keyup', '#HeaderSearch', function() {
                
                var SearchInputVal = $("#HeaderSearch").val();
				if(SearchInputVal != ""){
					var base_url=$('#base_url_input').val();
					$.ajax({
					  url: base_url+'get_search_suggestions',        
					  type: 'POST',
					  dataType:"html",
					  data: {SearchInputVal: SearchInputVal},
					  success: function(data) {
						  if(data == ""){
							  $('.search--dropdown').css("display", "none");
						  }else{
							  $('.search--dropdown').css("display", "block");
						  }
						  $("#suggetions_results").html(data);
					  }
					});
				}else{
					$('.search--dropdown').css("display", "none");
				}				
            });
			
			$(document).keypress(function(e) {
				if(e.which == 13) {
					if($('#HeaderSearch').val() != undefined && $('#HeaderSearch').val() != ""){
					     $("#search_Form").submit();
					}
					
				}
			});
			
			$("body").on("click",".select_this_to_search",function(){
				$("#HeaderSearch").val($(this).text());
				$("#search_Form").submit();
			});
			
			$(window).scroll(function(){
			   
				if ($(window).scrollTop() >= ($(document).height() - $(window).height())*0.3) {
					if($("#search_page_val").val() != undefined){
						loadMoreData_search_page();	
					}
					
					if($("#sale_page_val").val() != undefined){
						loadMoreDataSalePage();	
					}
					
					if($("#vendors_page_val").val() != undefined){
						loadMoreDataVendorsPage();	
					}
					
					
					if($("#new_arrival_page_val").val() != undefined){
						loadMoreDataNewArrivalPage();	
					}
					
					
					
				}
			});
			
			
			
			function loadMoreDataNewArrivalPage(){
			
				
				
				if(call_ajax_new_arrivals == 1 && page_new_arrivals < 2){
				
				
					page_new_arrivals = page_new_arrivals+1;
					var base_url=$('#base_url_input').val();
					$.ajax({
					  url: base_url+'new_arrivals_page_pagination',        
					  type: 'POST',
					  dataType:"html",
					  data: {page:page_new_arrivals},
					  success: function(data) {
						  if(data == ""){
							  call_ajax_new_arrivals = 0;
						  }else{
							  call_ajax_new_arrivals = 1;
							  $("#product_main_container_to_append").append(data);
						  }
					  }
					});
				}				
			}
			
			
			
			
			function loadMoreDataVendorsPage(){
				
				if(call_ajax_vendors == 1){
					page_vendors = page_vendors+1;
					var base_url=$('#base_url_input').val();
					$.ajax({
					  url: base_url+'vendors_page_pagination',        
					  type: 'POST',
					  dataType:"html",
					  data: {page:page_vendors},
					  success: function(data) {
						  if(data == ""){
							  call_ajax_vendors = 0;
						  }else{
							  call_ajax_vendors = 1;
							  $("#product_main_container_to_append").append(data);
						  }
					  }
					});
				}				
			}
			
			
			function loadMoreData_search_page(){
				var skw = $("#skw").val();
				if(call_ajax_search == 1){
					page = page+1;
					var base_url=$('#base_url_input').val();
					$.ajax({
					  url: base_url+'search_page_pagination',        
					  type: 'POST',
					  dataType:"html",
					  data: {skw: skw,page:page},
					  success: function(data) {
						  if(data == ""){
							  call_ajax_search = 0;
						  }else{
							  call_ajax_search = 1;
							  $("#product_main_container_to_append").append(data);
						  }
					  }
					});
				}				
			}
			
		
		   function loadMoreDataSalePage(){
				
				if(call_ajax_sale == 1){
					page_sale = page_sale+1;
					var base_url=$('#base_url_input').val();
					$.ajax({
					  url: base_url+'sale_page_pagination',        
					  type: 'POST',
					  dataType:"html",
					  data: {page:page_sale},
					  success: function(data) {
					 
						  if(data == ""){
							  call_ajax_sale = 0;
						  }else{
							  call_ajax_sale = 1;
							  $("#product_main_container_to_append").append(data);
						  }
					  }
					});
				}				
			}
		
		
			
        });

    </script>



        <script>
			/*for slider*/
			$(function(){
			$('.bxslider').bxSlider({
			auto: true,
			mode: 'fade',
			captions: true,
			slideWidth: 1920
			});
			});
			
			/*for text editor */
			$('.summernote').summernote();
			/*for color picker*/
			$("#clpkr").colorpicker();
        </script>  
		
		
		<script>
		/*for product image zoom*/
		
		
		
		$('#zoom_01').elevateZoom({
		zoomType:"lens",
		lensShape:"round",
		lensSize: 200,
		cursor: "crosshair"
		});
		
			/*$('#zoom_01').elevateZoom({
			zoomType: "inner",
			cursor: "crosshair",
			zoomWindowFadeIn: 600,
			zoomWindowFadeOut: 600
			}); */
			
			/*$('body').on('click', '.product--image .icon-images img', function(){
				var ZoomimageUrl =  $(this).attr('src');
				$(".zoomWindowContainer .zoomWindow").css('background-image',  'url(' + ZoomimageUrl + ')');
			}); */
			
			/*faq js*/
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
			panel.style.display = "none";
			} else {
			panel.style.display = "block";
			}
			});
			}
      </script>
        