
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

    <!--//==Page Header Start==//-->
        <div class="wv_breadcrumb">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                </li>
<!--                                 <li>
                                    <a href="index.html">Shop</a>
                                </li> -->
                                <li class="active">Forgot Password</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//==Login Page Start==//-->
        <section class="login-page">
            <div class="container">
                <div class="row pad-s15">
                    <div class="forgot_div">
                        <div class="login-form col-md-8 col-md-offset-2">
                            <h1 class="heading_form padB100">Forgot Password</h1>
							 {% if data.message.length > 0 %}
						
						<div class="alert alert-info"> {{data.message}}</div>
						
						 {% endif %}
                            <form method="post">
                                <input type="email" class="login_input" placeholder="Enter your registered email" id="email" name="email" required>
                                <input type="submit" name="sub" class="login_submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//==Login Page End==//-->          
       
       
{% endblock %}    