
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

     <div class="wv_breadcrumb">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                </li>
<!--                                 <li>
                                    <a href="index.html">Shop</a>
                                </li> -->
                                <li class="active">Order Cancel</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//==sell with us Page Start==//-->
        <section class="login-page">
            <div class="container">
                <div class="row pad-s15">
                    <div class="jumbotron text center text-xs-center">
  <h1 class="display-3">Thank You!</h1>
						<p class="lead"><strong>Your last order canceled </strong> </p>
  
 
</div>
                </div>
            </div>
        </section>
       
{% endblock %}    