
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

 <!--//==Page Header Start==//-->
        <div class="wv_breadcrumb">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                               
                                <li class="active">Store Detail </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//==Shop Single Page Start==//-->
        <section class="shop-page">
            <div class="container">
                <div class="row pad-s15">
                    <!--//==Shop Page Product Section Start==//-->
                    <div class="col-md-12 col-sm-12 wvshop_right">
                        <div class="row">
                            <!--//==Product Item Start==//-->
                            <div class="col-md-12 col-sm-12 marB30">
                                <div class="wa-theme-design-block">
                                    <div class="col-md-6 col-sm-6 wv_list_img">
                                        <div class="item_left_slider product--image">
                                            <div class="single_display_image "> 
                                                <a href="./store_logo/{{data.store_detail.store_logo}}">
                                                    <img class="display-img" alt="" src="./store_logo/{{data.store_detail.store_logo}}"/>
                                                </a> 
                                            </div>
                                           
                                        </div>
                                    </div>
									
                                    <div class="col-md-6 col-sm-6 wv_list_text wv_single_text">
                                        <div class="block-caption1 wv_single_heading">
                                            <h4 class="responsive_single_title">{{data.store_detail.store_name}}</h4>
                                            <div class="col-xs-4 col-sm-4 col-md-6 text_left">
                                                <span class="price-text-color "></span><br>
                                                 <div class="col-xs-12 col-sm-12 col-md-12 review_right">
                                                  <ul class="wv_rating">
												{% if data.store_detail.average_rates == 0 %}
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates > 0 && data.store_detail.average_rates < 1 %}
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates == 1 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates > 1 && data.store_detail.average_rates < 2 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates == 2 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates > 2 && data.store_detail.average_rates < 3 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates == 3 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates > 3 && data.store_detail.average_rates < 4 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates == 4 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif data.store_detail.average_rates > 4 && data.store_detail.average_rates < 5 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													{% elseif data.store_detail.average_rates == 5 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													
												 {% endif %}	
													<li><span class="review">({{data.store_detail.total_rates}})</span></li>
												</ul>
                                                </div>
                                                <!--<span class="price-text-color single_cat">Cutlery</span><br>-->
                                                <span class="store_loc">{{data.store_detail.address_line_1}}</span>
                                            </div>
                                           
                                            <div class="clear"></div>
											<br/>
                                            <div class="price list_price col-md-12">
                                              <h3>About Store</h3>
											  <p>{{data.store_detail.description}}</p>
                                            </div>
                                        </div>
                                    </div>
									
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!--//==Product Item End==//-->
                        </div>
                     
                      
						 <!--//======= Women Section Start=======//-->
                        <section class="wv-main-women padB70">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wv-heading-style1 pad-s15">
                                        <h2>More from this seller</h2>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row pad-s15">
                                        <div class="owl-carousel-style1 owl_sub" id="women-single-carousel2">
										{% for popular in data.populars_pro %}
                                            <div class="wa-item">
                                                <div class="col-md-12">
                                                    <div class="wa-theme-design-block">
														<figure class="dark-theme">
															<img src="./products/{{popular.images[0].image_url}}" alt="">
															<span class="block-sticker-tag1">
															<span class="off_tag"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i></strong></span>
															</span>	
															<span class="block-sticker-tag2">									   
															<span class="off_tag1"><strong><i class="fa fa-heart-o" aria-hidden="true"></i></strong></span>
															</span>
															<span class="block-sticker-tag3">
															<span class="off_tag2 btn-action btn-quickview" data-toggle="modal" data-target="#quickView"><strong><i class="fa fa-eye" aria-hidden="true"></i></strong></span>
															</span>
														</figure>
														<div class="block-caption1">
															<h4>{{popular.product_name}}</h4>
															<div class="col-xs-12 col-sm-12 col-md-12 text_left">
																<span class="price-text-color ">By {{popular.store_name}}</span>
															</div>
															<div class="col-xs-12 col-sm-12 col-md-12 review_right">
																<ul class="wv_rating">
												{% if popular.ratings.average_rates == 0 %}
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates > 0 && popular.ratings.average_rates < 1 %}
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates == 1 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates > 1 && popular.ratings.average_rates < 2 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates == 2 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates > 2 && popular.ratings.average_rates < 3 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates == 3 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates > 3 && popular.ratings.average_rates < 4 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates == 4 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													{% elseif popular.ratings.average_rates > 4 && popular.ratings.average_rates < 5 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													{% elseif popular.ratings.average_rates == 5 %}
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													
												 {% endif %}	
													<li><span class="review">({{popular.ratings.total_rates}})</span></li>
												</ul>
															</div>
															<div class="clear"></div>
															<div class="price col-md-12">
																<span class="sell-price">AU ${{popular.sale_price}}</span>
															</div>
														</div>
													</div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--//======= Women Section End=======//-->
                    </div>
                    <!--//==Shop Page Product Section End==//-->
                </div>
            </div>
        </section>
        <!--//==Shop Single Page End==//-->
        <section class="Service join_newsletter_color">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 prazar_subcribe_box text_center">
                        <h2 class="prezer_heading marB10">Join the Prazar community</h2>
                        <p>Get fresh prazar trends and unique gift ideas delivered right to your inbox</p>
                        <div class="prazar-subscribe-inner-box">
                            <input type="email" class="transparent-field" placeholder="email address">
                            <input type="submit" class="submit-btn" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
{% endblock %}    